html{
    font-size: 16px;
}
body{
    background-color: white;
    margin: auto;
    padding: 0;
}
.checks{
    width: 1.5%;
    height: 3.5%;
    color: red;
    margin-right:0.75rem;
}
.checks2{
    width: 1.5%;
    height: 3.5%;
    color: red;
    margin-right:0.75rem;
}
.commit{
    margin-left: 29rem;
}
.choose{
    padding-top: 2rem;
    padding-left: 15%;
    line-height: 11px;
    margin-bottom: 2rem;
}


.a{
    font-size: 1.2rem;
    display: flex;
 position: relative;
 left: 10%;
}
.a2{
    font-size: 1.2rem;
    display: flex;
 position: relative;
 left: 10%;
}
.si{
    background-color: red;
    width: 15%;
    padding: 1%;
    cursor: pointer;
    color: white;
    position: relative;
    margin-top: 2rem;
    left: 42.5%;
}
.first{
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 0.2rem;
  border-bottom: rgb(227, 224, 224) solid 1px;
   
}
.firstp{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    left: 80%;
    cursor: pointer;
}
.logo{
    width: 10%;
    margin-top: 0.2rem;
}
.circle{
    width: 6%;
    margin-top: 4%;
}


.second{
    text-align: center;
}
.secondp{
    font-size: 1.1rem;
    color: black;
    font-weight: 100;
}
.size{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.oyashow{
    display: none;
}
.thirdp{
    margin-left: 1rem;
}
.boxline{
    display: flex;
  float: right;
  margin-right: 27rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}

.mobile, .premium, .standard, .basic{
    width: fit-content;
    font-size: 1.5rem;
    padding: 2.2rem;
    text-align: center;
    background-color:rgb(253, 77, 77);
    margin-left: 0.2rem;
    position: relative;
   

}
.tranglem, .trangles{
    width: 0px;
    height:0px;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-top: 18px solid red;
    position: relative;
    top: 6.1rem;
    right: 4.5rem;
    visibility: visible;
   
}
.trangleb{
    width: 0px;
    height:0px;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-top: 18px solid rgb(202, 27, 27);
    position: relative;
    top:6.1rem;
    right: 4.5rem;
    visibility: visible;
} 

.tranglep{
    width: 0px;
    height:0px;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-top: 18px solid rgb(248, 6, 6);
    position: relative;
    top: 6.1rem;
    right: 4.5rem;

}
.row1{
    border-bottom: 1px solid grey;
}
.width{
    width: 100%;
  
}
.rows{
    display: flex;
    font-size: 1.1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    width: 70%;
    margin-left: 13rem;
   
}
.rowhead1{
    /* margin-left: 13rem; */
}
.row1a ,.g1a{
    margin-left: 14.5rem;
    color: rgb(10, 9, 9);
    margin-bottom: 0.5rem;
}
.contain{
    display: block;
}
 .row1b , .g1b{
    margin-left: 7rem;
    margin-bottom: 1.5rem; 
}
.row1c, .row1d, .g1c{
    margin-left: 8rem;
    margin-bottom: 1.5rem; 
}
.row2a{
    margin-left: 15.5rem;
    color: rgb(10, 9, 9);
    margin-bottom: 0.5rem;
}
 .row2b, .row2c, .row2d{
    margin-left: 7rem;
    margin-bottom: 1.5rem;
    
}
.row2c, .row2d{
    margin-left: 8.3rem;
    margin-bottom: 1.5rem;
    
}
.row3a{
    margin-left: 17rem;
    color: rgb(10, 9, 9);
    margin-bottom: 0.5rem;

}
.row4a{
    margin-left: 9rem;
    margin-bottom: 0.5rem;

}
.row4b{
    margin-left: 9rem;
    margin-bottom: 1.5rem;  
}
.row4c{
    margin-left: 10rem;
    margin-bottom: 1.5rem;
}
.row4d{
    margin-left: 10rem;
    margin-bottom: 1.5rem;
}
.row3b{
        margin-left: 7rem;
        margin-bottom: 1.5rem;  
    }
    .row3c, .row3d{
        margin-left: 8rem;
        margin-bottom: 1.5rem;
        
    }
    .phone{
        color: grey;
    }
    .devices{
        display: flex;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        width: 70%;
        margin-left: 13rem;
       
    }
    .devicess{
        display: flex;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        width: 70%;
        margin-left: 13rem;
       
    }
    .row5a{
        margin-left: 22rem;
        margin-bottom: 0.5rem;
    
    }
    .row5b{
        margin-left: 9rem;
        margin-bottom: 1.5rem;  
    }
    .row5c{
        margin-left: 10rem;
        margin-bottom: 1.5rem;
    }
    .row5d{
        margin-left: 9.7rem;
        margin-bottom: 1.5rem;
    }
    .row6b{
        margin-left: 32rem;
        margin-bottom: 1.5rem;  
    }
    .row6c{
        margin-left: 9.7rem;
        margin-bottom: 1.5rem;
    }
    .row6d{
        margin-left: 9.2rem;
        margin-bottom: 1.5rem;
    }
    .row7b{
        margin-left: 3rem;
        margin-bottom: 1.5rem;  
    }
    .row7c{
        margin-left: 9.7rem;
        margin-bottom: 1.5rem;
    }
    .row7d{
        margin-left: 9.2rem;
        margin-bottom: 1.5rem;
    }
    .last{
        font-size: 0.85rem;
        margin-left: 13rem;
        margin-top: 0.5rem;
        color: rgb(68, 66, 66);
    }
    .nextdiv{
        position: relative;
        left: 37%;
        margin-top: 3rem;
    }
    .next{
        width: 23%;
        text-align: center;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: 900;
        background-color: red;
        color: white;
    }
    .padlock{
        color: red;
        margin-left: 7rem;
        margin-top: 5rem;
        height: 30px;
    }
    .wrap{
       position: relative;
       left: 40%;
       
    }
    .gadgets{
        display: block;
        width: 40%;
     
        padding-left: 30%;
    }
    .three{
        margin-top: 2rem;
        margin-left: 5rem;
        font-size: 1rem;
    }
    .pay{
        font-family: 'Times New Roman', Times, serif;
        padding-left: 2rem;
    }
    .small{
        font-size: 1.25rem;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        right: 4rem;
    }
    .secure{
        font-size: 1.25rem;
        margin-left: 1rem;
        position: relative;
        bottom: 2rem;
    }
    .cancel{
        padding-left: 2.5rem;
        position: relative;
        bottom: 1.2rem;
    }
    .cancels{  
        padding-left: 8rem;
        position: relative;
        bottom: 1.2rem;
    }
    .devicess{
        display: none;
        background-color: white;
        width: 40%;
        margin-left: 30%;
        margin-top: 2.5%;
    }
    .devices{
        display: none;
        background-color: white;
        width: 40%;
        margin-left: 30%;
        margin-top: 2.5%;
    }
    .mp{
       padding-left: 39%;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .vq{
        padding-left: 39%;
        margin-top: 0.5rem;
         margin-bottom: 0rem;
         font-size: 1.1rem;
         font-weight: 600;
     }
     .dev{
        padding-left: 36%;
        margin-top: 1rem;
         margin-bottom: 1rem;
         font-size: 1.1rem;
         font-weight: 600;
     }
     .groups{
        width: 100%;
        left: 20%;
        display: none;
     }
    .group1{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 14rem; 
    }
    .res{
        padding-left: 40%;
        margin-top: 0.5rem;
         margin-bottom: 1rem;
         font-size: 1.1rem;
         font-weight: 600;
     }
    .group3{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 12rem; 
    }
    .group5{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 7.35rem; 
    }
    .group6{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 29.6rem; 
    }
    .group7{
        display: flex;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        width: 100%;
        margin-left: 17.5rem; 
    }
    .group4{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 20.5rem; 
    }
    .group2{
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        width: 50%;
        margin-left: 13rem; 
    }
    .personal{
        width: 100%;
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        color: rgb(52, 52, 52);
    }
    .finish{
        color: rgb(23, 22, 22);
        font-size: 2rem;
    }
    .finisha{
        color: rgb(23, 22, 22);
        font-size: 2rem;
    }
    .si2{
        background-color: red;
        width: 18%;
        padding: 1%;
        color: white;
        position: relative;
        margin-top: 2rem;
        left: 40.5%;
    }
  
    .si3{
        background-color: red;
        width: 25%;
        padding: 1%;
        color: white;
        position: relative;
        margin-top: 2rem;
        left: 36.5%;
    }
    .paper{
        text-align: center;
        font-size: 1.3rem;
    }
    .email, .password{
        width: 25%;
        padding: 1%;
        border-radius: 5px;
        font-size: 1rem;
    }
    .noshow{
        display: block;
    }
    .password{
        margin-top: 1rem;
    }
    .sign{
       margin-top: 2rem;
       
    }
    .offers{
        font-size: 1.2rem;
        text-align: left;
        padding-left: 36%;
    }
    .boxes{
        padding: 3%;
    }
    .signincover{
        display: flex;
        float: right;
       margin-left: auto;
       margin-right: 3rem;
      position: relative;
      bottom: 1rem;
      cursor: pointer;
      }
      .up{
        color: blue;
        font-size: 1.5rem;
      }
    .signin{
        width: 100%;
        height: fit-content;
        background-color: red;
        border-radius: 5px;
           color: white;
           padding: 10px;
           font-size: 1.2rem;
        float: right;
        }
        .confirm{
    position: relative;
    left: 35%;
        }
        .leave{
          font-size: 2.5rem;
          font-weight: 400;

        }
        .sub{
            width: 33%;
            font-size: 1.7rem;
        }
        .just{
            width: 30%;
            font-size: 1.3rem;
            margin-bottom: 3%;
           
        }
        .padlock{
            color: green;
        }
    
        .go{
            width: 30%;
            height: fit-content;
            background-color: rgb(46, 121, 241);
            text-align: center;
               color: white;
               padding: 10px;
               font-size: 1.2rem;
                 
        }
    @media screen and (max-width:450px){
      body{
        background-color: white !important;
      }
      .commit{
        margin-left: 0rem;
      }
      .logo{
        width: 25%;
      }
      .firstp{
        left: 45%;
        font-size: 1.4rem;
    }
    .circle{
        width: 15%;
    }
    .checks{
        width: 5%;
       position: relative;
       left: 5%;
    }
    .checks2{
        width: 5%;
       position: relative;
       left: 0%;
    }
    .thirdp{
        font-size: 1.2rem;
    }
    .a{
     left: 0%;
     
    }
    .finisha{
        font-size: 1.5rem;
    }
    .personal{
        width: 80%;
        font-size: 1.4rem;
        margin-left: 10%;
    }
    .si2{
        width: 65%;
        padding: 1.5%;;
        left: 15%;
    }
    .devices{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 5%;
    }
    .nowshow{
        display: none;
    }
    .email, .password{
        width: 75%;
        padding: 1.8%;
        border-radius: 5px;
        font-size: 1.4rem;
    }
    .si3{
        background-color: red;
        width: 74%;
        padding: 1.5%;
        left: 12%;
        
    }
    .offers{
        font-size: 1.3rem;
        text-align: left;
        padding-left: 10.5%;
    }
    .paper{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 10%;
        font-size: 1.3rem;
    }
    .wrap{
        position: relative;
        left: 20%;
        
     }
     .three{
        font-size: 1.4rem;
        margin-left: 4rem;
     }
     
     .padlock{
        margin-top: 5rem;
        height: 40px;
    }
    .secure{
        font-family: 100;
        font-size: 1.25rem;
        margin-left: 1rem;
        position: relative;
        bottom: 0rem;
    }
    .small{
        font-size: 1.25rem;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        width: 80%;
        margin-left: 5%;
        right: 10%;
    }
    .choose{
        padding-left: 5%;
    }
    .size{
        width: 100%;
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
        line-height: 40px;
    }
    .secondp{
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .oyashow{
        display: block;
    }
    .a2{
     left: 5%;
    }
    .boxline{
        float: left;
      margin-right: 3rem;
      margin-bottom: 1rem;
      position: sticky;
      top: 0;
      margin-top: 2%;
    }
    .mobile, .standard, .basic{
        height: auto;
        font-size: 1.3rem;
        padding: 1.3rem;
        left: 0.5rem;
    }
    .premium{
        display: none;
    }
    .tranglep{
        display: none;
    }
    .tranglem, .trangles{
        width: 0px;
        height:0px;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 20px solid red;
        position: relative;
        top: 4rem;
        right: 4rem;
        visibility: visible;
       
    }
    .tranglem{
        right: 3rem;
    }
    .trangleb{
       border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 20px solid rgb(202, 27, 27);
        top:4rem;
        right: 2.7rem;
        visibility: visible;
    } 
    .row1d, .row2d, .row3d, .row4d .row5d{
        display: none;
    }
    .rows{
        width: 90%;
        margin-left: 0rem;
    }
    .row1a{
        margin-left: 1.5rem;
        color: rgb(10, 9, 9);
        margin-bottom: 0.5rem;
    }
    .contain{
        display: block;
    }
     .row1b{
        margin-left: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .row1c, .row1d{
        margin-left: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .pricemove{
        display: none;
    }
    .groups{
        display: block;

    }
    .group1 ,.group2, .group3, .group4, .group5, .group6, .group7{
        width: 100%;
        margin-left: 0rem; 
    }
    .g1a, .g1b, .g1c{
        font-size: 1.3rem;
        margin-left: 3.5rem;
    }
    .g2a, .g2b, .g2c{
        font-size: 1.3rem;
        margin-left: 4rem;
    }
    .g4a, .g4b, .g4c{
        font-size: 1.3rem;
        margin-top: 0.3rem;
        margin-left: 2.7rem;
    }
    .g3a, .g3b, .g3c{
        font-size: 1.3rem;
        margin-left: 4rem;
    }
    .g5a{
        font-size: 1.3rem;
        margin-left: -16.6rem;
        margin-top: 0.3rem;
    }
    .g5b{
        font-size: 1.3rem;
        margin-left: -19rem;
        margin-top: 0.3rem;
    }
    .g5c{
        font-size: 1.3rem;
        margin-left: -23rem;
        margin-top: 0.3rem;
    }
    .g6c{
        font-size: 1.3rem;
        margin-left: 2.2rem;
    }
     .g6d{
        font-size: 1.3rem;
        margin-left: -4.5rem;
    }
    
     .g7b{
        font-size: 1.3rem;
        margin-left: 15rem;
    }
    .dev{
        padding-left: 25%;

     }
     .rows{
        display: none;
     }
     .last{
        font-size: 1rem;
        margin-left: 2rem;
    }
    .nextdiv{
        position: relative;
        left: 5%;
        margin-right: 10%;
        margin-top: 3rem;
    }
    .next{
        width: 90%;
    }
    .confirm{
        position: relative;
        left: 5%;
            }
            .leave{
              font-size: 1.7rem;
              font-weight: 400;
    
            }
            .just{
                width: 90%;
                font-size: 1.1rem;
                margin-bottom: 6%;
               
            }
            .gadgets{
                width: 75%;
              margin-top: 10%;
           
                padding-left: 11%;
            }
          .signincover{
            margin-right: 1rem;

          }
            .go{
                width: 83%;
                font-size: 1.3rem;
                   padding: 13px;
                   margin-right: 10%;
            }
            .three{
                
                margin-left: 5rem;
                font-size: 1.5rem;
                font-weight: 600;
            }
           
            .pay{
                display: block;
                color:green;
                /* margin-left: 1rem; */
            }
            .sub{
                width: 100%;
                position: relative;
                font-size: 1.4rem;
                font-weight: 400;
                right: 7%;
            }
            .lock{
                margin-left: 1rem;
            }
            .wrap{
                position: relative;
                left: 10%;
            }
    }